<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td colspan="3">Products ({{ProductsTable.currency}})</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Price</td>
                <td>Type</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in ProductsTable.products track by $index">
                <td> {{product.name}} </td>
                <td> {{product.price}} </td>
                <td> {{product.type}} </td>
            </tr>
        </tbody>
    </table>
</div>
