<div style="max-width: 600px">
    <div ng-repeat="products in ProductList.productsConsolidated">
            <div ng-attr-id="{{ products.currency + 'Products' }}">
                <products-table currency="products.currency" products="products.products"></products-table>
            </div>
    </div>    
</div>